<!--Para incluir no bloco de conteudo do template base-->
{% extends 'usuarios/base.html' %}

<!--onde vai ser renderizado dentro do base.html-->
{% block conteudo %}

<!-- {% url 'listagem_usuarios'%} é específico do django, vai enviar essa informação para este lugar listagem_usuarios-->
<form action="{% url 'listagem_usuarios' %}" method="post">
    {% csrf_token %}
    <div style="text-align: center;" class="container">
        <h1>Cadastro de Usários</h1>
        Nome <input name="nomeform" class="form-control-sm" type="text">
        Idade <input name="idadeform" class="form-control-sm" type="text">
        <button class="form-control-sm">Cadastrar</button>
    </div>
</form>
{% endblock %}